/*PANE*/

#GridPane
{
    -fx-background-color: #ffccff;
    -fx-font-weight: bold;
}
/*TEKST*/
#output
{
    -fx-text-fill: #555555;
}

/*MENU*/
.menu-bar{
    -fx-background-color: linear-gradient(#cc0099, #ffccff);
}

.menu{
    -fx-background-color: linear-gradient(#cc0099, #ffccff);
}
.menu:hover{
    -fx-background-color: #ffccff;
}
.context-menu
{
    -fx-background-color: #ffccff;
    -fx-text-fill: #555555;
}
.menu-item
{
    -fx-background-color: #ffccff;
    -fx-text-fill: #000000;
}
.menu-item .label {
    -fx-text-fill: #555555;
}
.menu-item:hover
{
    -fx-background-color: #ff33cc;
}

/*PRZYCISKI*/
.button
{
    -fx-background-color: linear-gradient(#ff99ff, #cc0099);
    -fx-text-fill: #383838;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    /*-fx-border-color: #383838;*/
}
.button:hover
{
    -fx-background-color:linear-gradient(#990066, #FF66FF);
    -fx-border-radius: 50%;
}
.button:armed{
    -fx-background-color: #ffffff;

}
#button_c
{
    -fx-background-color: linear-gradient(#ffccff, #ff99ff);
    -fx-text-fill: linear-gradient(#ff99ff, #660033);
    -fx-font-size: 18px;
    -fx-border-radius: 50%;
    -fx-border-color: linear-gradient(#ffccff, #ff99ff);
    /*-fx-border-color: linear-gradient(#818181, #383838);*/
}
#button_c:hover
{
    -fx-background-color:linear-gradient(#660033, #ff33cc);
    -fx-text-fill: #ffccff;
}